<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Filters</th>
        <th>Image</th>
    </tr>
    </thead>
</table>
<tbody>
{% for item in objects_list %}
    <tr>
        <td>{{ item.display_name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.unit }}</td>
        <td>{{ item.search_fields }}</td>
        <td>{{ item.image }}</td>
        <td>
            <a href="{% url "item_details"  item.id %}">details</a>
            <a href="{% url "item_edit" item.id %}">Edit</a>
            <a HREF="{% url "item_delete" item.id %}">Delete</a>
        </td>
    </tr>
{% endfor %}
</tbody>
</html>