{% extends 'index.html' %}
{% load static %}
{% block content %}
    {% for item in object_list %}
        <tr >
            <td>{{ item.sku }}</td>
            <td>
                <a href="{% url 'outlets:stocks:detail' outlet_id=outlet_id pk=item.id %}">
                {{ item.item.display_name }}
                </a>
            </td>
            <td>{{ item.brand }}</td>
            <td>{{ item.item.quantity }} {{ item.item.unit|title }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.available }}</td>
        </tr>
        {% endfor %}
{%  endblock %}