{% extends 'outlet_index.html' %}
{% load static %}
{% block content %}
    <ul>
        <li>{{ object.slug }}</li>
        <li>{{ object.display_name }}</li>
        <li>{{ object.street }},{{ object.city }} ,{{ object.country }}</li>
        <li>{{ object.tax_type }}</li>
        <li>{{ object.currency }}</li>
        <li>{{ object.contact }}</li>
        <li>{{ object.email }} </li>
    </ul>
    {% if user.is_superuser %}
    <div class="btn-danger">
        <a href="{% url 'outlets:outlet:delete' pk=object.id %}">
            <button type="button">Delete</button>
        </a>
    </div>
    <div class="btn-bitbucket">
        <a href="{% url 'outlets:outlet:update' id=object.id %}">
            <button type="button">Update</button>
        </a>
    </div>
    {% endif %}
{% endblock %}