{% extends 'index.html' %}
{% load static %}
{% block css %}
    <link href="{% static "css/dataTables.bootstrap.min.css" %}">
{% endblock %}
{% block content %}
    <tr>
        <td>{{ object.slug }}</td>
        <td>{{ object.display_name }}</td>
        <td>{{ object.street }}{{ object.city }} {{ object.country }}</td>
        <td>{{ object.contact }}</td>
        <td>{{ object.email }} </td>
    </tr>

    <div class="btn-danger">
        <a href="{% url 'outlets:outlet:delete' pk=object.id %}">
            <button type="button">delete</button>
        </a>
    </div>
{% endblock %}