{% extends 'index.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet"
          href="{% static "AdminLTE/dataTables.bootstrap.min.css" %}">
{% endblock %}
{% block content %}

    <section class="content-header">
        <h1>
            Outlet
            <small>Outlet List</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Outlets</a></li>
            <li class="active">List</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Outlets</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Slug</th>
                                <th>Display Name</th>
                                <th>Street</th>
                                <th>Contact</th>
                                <th>Email</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for object in object_list %}
                                <tr>
                                    <td>{{ object.slug }}</td>
                                    <td>
                                        <a href="#">
                                            {{ object.display_name }}
                                        </a>
                                    </td>
                                    <td>{{ object.street }}{{ object.city }} {{ object.country }}</td>
                                    <td>{{ object.contact }}</td>
                                    <td>{{ object.email }} </td>
                                </tr>
                                <br/>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
{% endblock %}
{% block js %}
    <script src="{% static "AdminLTE/jquery.dataTables.min.js" %}"></script>
{% endblock %}

